:root {
    --bg-color: var(--color-base-100);
    --text-color: var(--color-base-content);
    --primary-color: var(--color-primary);
    --secondary-color: var(--color-neutral);
    --border-color: var(--color-base-300);
    --card-bg: var(--color-base-100);
    --header-bg: var(--color-base-100);
    --sidebar-bg: var(--color-base-200);
    --bg-code: var(--color-base-200);
    --text-code: var(--color-base-content);

    --color-base-100: #f8fdef;
    --color-base-200: #e1e6d9;
    --color-base-300: #cbcfc3;
    --color-base-content: #151614;
    --color-primary: #419400;
    --color-primary-content: #010800;
    --color-secondary: #bdc000;
    --color-secondary-content: #0d0e00;
    --color-accent: #edd000;
    --color-accent-content: #141000;
    --color-neutral: #343300;
    --color-neutral-content: #d2d3c7;
    --color-info: #b1d9e9;
    --color-info-content: #0c1113;
    --color-success: #b9dbc6;
    --color-success-content: #0d110e;
    --color-warning: #d7d3b0;
    --color-warning-content: #11100c;
    --color-error: #efc6c2;
    --color-error-content: #140e0e;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-header {
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--border-color);
}

.sidebar {
    background-color: var(--sidebar-bg);
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}
