:root {
    --bg-color: var(--color-base-100);
    --text-color: var(--color-base-content);
    --primary-color: var(--color-primary);
    --secondary-color: var(--color-neutral);
    --border-color: var(--color-base-300);
    --card-bg: var(--color-base-100);
    --header-bg: var(--color-base-100);
    --sidebar-bg: var(--color-base-200);
    --bg-code: var(--color-base-200);
    --text-code: var(--color-base-content);

    --color-base-100: #fcfcfc;
    --color-base-200: #e9e9e9;
    --color-base-300: #d6d6d6;
    --color-base-content: #323232;
    --color-primary: #3b82f6;
    --color-primary-content: #1e3a8a;
    --color-secondary: #84cc16;
    --color-secondary-content: #3f6212;
    --color-accent: #f59e0b;
    --color-accent-content: #854d0e;
    --color-neutral: #525252;
    --color-neutral-content: #dbdbdb;
    --color-info: #0ea5e9;
    --color-info-content: #082f49;
    --color-success: #22c55e;
    --color-success-content: #14532d;
    --color-warning: #eab308;
    --color-warning-content: #713f12;
    --color-error: #ef4444;
    --color-error-content: #7f1d1d;

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.main-header {
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--border-color);
}

.sidebar {
    background-color: var(--sidebar-bg);
}

.card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
}
